IngenicoPOSAPITest/Service References/MiddlewareServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" />
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Utility" />
  <xs:element name="WaitTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeOut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayTimeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Poll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polingType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PollResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaitTerminalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeOut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" minOccurs="0" name="TerminalStatusResult" nillable="true" type="q1:TerminalStatusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Utility" minOccurs="0" name="reportRequestType" type="q2:ReportRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaitReportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeOut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" minOccurs="0" name="transaction" nillable="true" type="q3:TransactionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" minOccurs="0" name="txnResponse" nillable="true" type="q4:TxnResponseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnTerminalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" minOccurs="0" name="terminalStatus" nillable="true" type="q5:TerminalStatusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" minOccurs="0" name="reportResult" nillable="true" type="q6:ReportResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>