IngenicoPOSAPITest/Service References/MiddlewareServiceReference/MiddlewareService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiddlewareService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IMiddlewareService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Model" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ingenico.Middleware.Utility" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiddlewareService_WaitTransactionResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:WaitTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_Poll_InputMessage">
    <wsdl:part name="parameters" element="tns:Poll" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_Poll_OutputMessage">
    <wsdl:part name="parameters" element="tns:PollResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_WaitTerminalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:WaitTerminalStatus" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_TerminalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminalStatus" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_TerminalStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_ReportRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportRequest" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_ReportRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_WaitReportRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:WaitReportRequest" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_TransactionRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionRequest" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_TransactionRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_TransactionResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_ReturnTerminalStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReturnTerminalStatus" />
  </wsdl:message>
  <wsdl:message name="IMiddlewareService_ReportResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportResult" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMiddlewareService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WaitTransactionResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/WaitTransactionResponse" message="tns:IMiddlewareService_WaitTransactionResponse_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/Init" message="tns:IMiddlewareService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/InitResponse" message="tns:IMiddlewareService_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Poll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/Poll" message="tns:IMiddlewareService_Poll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/PollResponse" message="tns:IMiddlewareService_Poll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WaitTerminalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/WaitTerminalStatus" message="tns:IMiddlewareService_WaitTerminalStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TerminalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/TerminalStatus" message="tns:IMiddlewareService_TerminalStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/TerminalStatusResponse" message="tns:IMiddlewareService_TerminalStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/ReportRequest" message="tns:IMiddlewareService_ReportRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/ReportRequestResponse" message="tns:IMiddlewareService_ReportRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WaitReportRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/WaitReportRequest" message="tns:IMiddlewareService_WaitReportRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransactionRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiddlewareService/TransactionRequest" message="tns:IMiddlewareService_TransactionRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/TransactionRequestResponse" message="tns:IMiddlewareService_TransactionRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransactionResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/TransactionResponse" message="tns:IMiddlewareService_TransactionResponse_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReturnTerminalStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/ReturnTerminalStatus" message="tns:IMiddlewareService_ReturnTerminalStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IMiddlewareService/ReportResult" message="tns:IMiddlewareService_ReportResult_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IMiddlewareService" type="tns:IMiddlewareService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IMiddlewareService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WaitTransactionResponse">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/WaitTransactionResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Poll">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/Poll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitTerminalStatus">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/WaitTerminalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TerminalStatus">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/TerminalStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportRequest">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/ReportRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitReportRequest">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/WaitReportRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TransactionRequest">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/TransactionRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionResponse">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/TransactionResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnTerminalStatus">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/ReturnTerminalStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportResult">
      <soap12:operation soapAction="http://tempuri.org/IMiddlewareService/ReportResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiddlewareService">
    <wsdl:port name="WSDualHttpBinding_IMiddlewareService" binding="tns:WSDualHttpBinding_IMiddlewareService">
      <soap12:address location="http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/Design_Time_Addresses/MiddlewareServiceLib/MiddlewareService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>